{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  <h1>Squad tijdlijn</h1>

  <button>Filters</button>
  <ul class="filteren">
    <li class="btn-filter"><a href="#">Voorbeeld A</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld B</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld C</a></li>
    <li class="btn-filter"><a href="#">Voorbeeld D</a></li>
  </ul>
  <section>

  </section>
  <ul>
    {% for person in persons %}
      <li>
        {{ person.name }}
      </li>
    {% endfor %}
  </ul>

  <h2>Huidige berichten</h2>

  {% for message in messages %}
    <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
  {% else %}
    <p>Er zijn nog geen berichten voor dit team.</p>
  {% endfor %}

  <h2>Voeg een bericht toe</h2>
  <form method="post" action="/">
    <label>
      Naam:
      <input type="text" name="from" required>
    </label>
    <label>
      Bericht:
      <textarea name="text" required></textarea>
    </label>
    <button type="submit">Verstuur</button>
  </form>
</main>

{% render 'partials/foot.liquid', squads: squads %}
