* {
    padding: 0;
    margin: 0;
    color: #66E5Bf;
    /* font-family: 'Times New Roman', Times, serif; */
}


body {
    height: 100dvh;
    background-color: #000;
    background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_space_143776_800x1420.jpg);

}

/* filter  */


.filters{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    top: 20px;
    right: 4em;
}

.form-date{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: 80px;
    left: 2em;
    padding: 5px 5px 5px 5px;
}
.select-year{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: monospace;
    transition: 1s;

    &:hover{
        background-color: #66E5Bf;
    }

}
#select-season,
#select-hobby,
#select-vibe{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: monospace;
    transition: 1s;

    &:hover{
        background-color: #66E5Bf;
    }
}
.form-date{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: 80px;
    left: 2em;
    padding: 5px 5px 5px 5px;
}
.select-year{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: monospace;
    transition: 1s;

    &:hover{
        background-color: #66E5Bf;
    }
}

select {
    padding: 5px 5px 5px 5px;
}


h1 {
    text-align: center;
}

.timeline {
    display: grid;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 800px;
    grid-template-rows: 550px;
    gap: 0.75rem;
    scrollbar-color: #66E5BF #000;
    scrollbar-width: thin;

    ol {
        display: grid;
        grid-auto-columns: 100px;
        gap: .5rem;

        li {
            grid-column: var(--month-index);
        }
    }

    .people-line {
        grid-template-rows: 175px;
        border-bottom: #66E5BF solid 2px;
        background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_space_143776_800x1420.jpg);

        .person-list-item {
            grid-row: var(--stack-index);
            list-style: none;
            position: relative;
            height: 175px;
            align-self: end;
            min-width: 100px;
            width: 100px;
            max-width: 100px;
            view-timeline-name: --person-reveal;
            animation: timeline-animation 1ms linear both;
            animation-timeline: --person-reveal;
            view-timeline-axis: x;
            view-timeline-inset: 70% 100px;
            transition: ease-in-out .3s;

            &:hover {
                scale: 1.1;
            }

            a {
                text-decoration: none;
                color: unset;
                transition: ease-in-out .3s;

                img {
                    aspect-ratio: 1 / 1;
                    width: 100px;
                    object-fit: cover;
                    transition: ease-in-out .3s;
                    border: ridge 2px var(--favo-color);

                }
            }
        }
    }

    .date-line {
        grid-template-rows: 50px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_space_143776_800x1420.jpg);

        .date-list-item {
            list-style: none;
            min-width: 100px;
            position: relative;
            text-align: center;

            &::before {
                content: '-';
                position: absolute;
                rotate: 90deg;
                bottom: 2.6rem;
                font-size: 3rem;
                color: #66E5Bf;
            }

            p {
                rotate: 30deg;

            }
        }
    }

    .date-line.years {
        display: grid;
        grid-auto-columns: 1296px;
        gap: 0;

        .item-year {
            grid-column: var(--year-index);
            text-align: left;
            font-size: 5rem;

            /* bottom: 100px; */
            &::before {
                content: '';
            }

            p {
                rotate: 20deg;
                width: fit-content;
            }
        }
    }
}

.person-comments {
    width: clamp(320px, 100%, 1440px);
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        background-color: #050542;
        width: clamp(320px, 100%, 600px);
        margin: 2rem auto;
        padding: .5rem;
        border-radius: 50px;

        label {
            color: #66E5Bf;
            display: flex;
            flex-direction: column;

            input {
                color: #000;
            }

            textarea {
                color: #000;
                margin: auto;
                width: clamp(300px, 100%, 400px);
                height: 150px;
            }
        }

        .comment-box {
            width: 100%;
            text-align: center;
        }

        button {
            color: #66E5Bf;
            background-color: #050542;
            border: 2px solid #66E5Bf;
            padding: .3rem;
            border-radius: 50px;
            width: 100px;
            transition: ease-in-out .2s;

            &:hover {
                color: #050542;
                background-color: #66E5Bf;
                cursor: pointer;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column-reverse;
        width: clamp(320px, 100%, 750px);
        margin: auto;
        gap: 2.5rem;

        li {
            width: clamp(300px, 100%, 730px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-left: solid 1px;
            padding-left: .5rem;

            .comment-content {
                margin: .25rem 0;
            }
        }
    }
}

.person-details {
    display: grid;
    grid-template-columns: 1fr;
    width: clamp(320px, 90%, 1440px);
    margin: auto;

    @media (min-width: 660px) {
        grid-template-columns: 50% 50%;
        gap: .5rem;
    }

    article {
        p {
            font-size: 18px;
        }
    }

    .person-left {
        @media (min-width: 660px) {
            grid-column: 1;
        }

        img {
            width: clamp(300px, 100%, 500px);
            aspect-ratio: 1 / 1;
            object-fit: cover;
            display: flex;
            margin: 0 auto;
        }

        p {
            width: clamp(300px, 100%, 500px);
            display: flex;
            margin: 0 auto;
        }
    }

    .person-right {
        @media (min-width: 660px) {
            grid-column: 2;
        }

        .person-story {
            p {
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .person-song{
        grid-column: 1 / -1;
    }
}


@keyframes timeline-animation {
    from {
        opacity: 0;
        transform: scale(0) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}