* {
    padding: 0;
    margin: 0;
}

/* filter knop */
.filteren {
    display: none;
}

.not-hidden {
    display: block;

}

h1 {
    text-align: center;
}

.timeline {
    display: grid;
    overflow-x: scroll;
    height: 630px;
    grid-template-rows: 550px;

    ol {
        display: grid;
        grid-auto-columns: 100px;
        gap: .5rem;

        li {
            grid-column: var(--month-index);

        }
    }

    .people-line {
        grid-template-rows: 175px;

        .person-list-item {

            grid-row: var(--stack-index);
            list-style: none;
            position: relative;
            height: 175px;
            align-self: end;
            min-width: 100px;
            width: 100px;

            a {
                text-decoration: none;
                color: unset;

                img {
                    aspect-ratio: 1 / 1;
                    width: 100px;
                    object-fit: cover;
                }
            }

        }

    }

    .date-line {
        grid-template-rows: 50px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;

        .date-list-item {
            list-style: none;
            min-width: 100px;
            position: relative;
            text-align: center;

            p {
                rotate: 30deg;

            }
        }

    }

    .date-line.years {

        display: grid;
        grid-auto-columns: 1296px;
gap: 0;
        .item-year {
            grid-column: var(--year-index);
            text-align: left;
            font-size: 5rem;
            /* bottom: 100px; */

            p {
                rotate: 20deg;

            }
        }
    }

}